## required for Makefile
##
export CIRCLE_BUILD_NUM='local-build'
export COMPANY="$USER"
export APP_NAME="servant-web"

export DOCKER_USER_NAME="kayvank"
export DOCKER_USER_PASSWORD="OTRiMGNiMWYwZjk1"
